::-webkit-scrollbar {
    //width: 8px;
    //height: 8px;
}

::-webkit-scrollbar-track-piece {
    background-color: #eeeeee;
    margin: -2px;
}

::-webkit-scrollbar-thumb {
    background: #aaaaaa;
    min-height: 150px;
    min-width: 150px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background: #555555
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background: #555555
}
